.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  /* border: solid red; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  padding: 50px 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: calc(10px + 2vmin);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:  space-between;


}

.Nav-items {
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

.App-main {
  background-color:rgb(255, 255, 255);
  margin: 0px 15px;
}


.Top-pic-banner{
  border-radius: 25px;
  min-height: 20vh;
  color: white;
  opacity: 0.6;
  /* object-fit: fill; */
  /* border: solid red; */
}

.App-catalog{
  display: flex;
  background-color: #f6f6f6;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
}

.Item-card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 30px;
  background-color: #ff6060;
  /* border: solid red; */
}

.App-footer {
  color: white;
  background-color: #282c34;
}

.Footer-logo {
  padding-top: 50px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
