// import des variables
@import 'variables';


// Police
@mixin font-montserat {
    font-family: $font-primary;
    color: $third-color;
};

// MediaQueries
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}
