// import des variables
@import 'variables';

// MediaQueries

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

// @mixin tablet {
//     @media (max-width: $breakpoint-tablet) {
//         @content;
//     }
// }

// @mixin desktop {
//     @media (max-width: $breakpoint-desktop) {
//         @content;
//     }
// }