// variables globales
$primary-color: #ff6060;
$secondary-color: #ffffff;
$third-color: #f6f6f6;
$fourth-color: #000000;
$text-color: #333333;
$background-contrast:  rgba(0, 0, 0, 0.5);
$background-transparent: rgba(0, 0, 0, 0);
$top-banner-home: url('../assets/img-banner-a-accueil.png');
$top-banner-about: url('../assets/img-banner-a-propos.png');