// variables globales

$font-primary: 'Montserrat', sans-serif; 

$invisible-color:#ffffff00;
$primary-color: #ff6060;
$secondary-color: #ffffff;
$third-color: #f6f6f6;
$fourth-color: #000000;
$text-color: #333333;
$item-light-color : #e3e3e3;
$background-contrast:  rgba(0, 0, 0, 0.65);
$background-contrast-light:  rgba(0, 0, 0, 0.3);
$background-transparent: rgba(0, 0, 0, 0);
$top-banner-home: url('../assets/img-banner-a-accueil.png');
$top-banner-about: url('../assets/img-banner-a-propos.png');

// breakpoints
$breakpoint-mobile: 600px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1024px;