.About {
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;

  
    h1 {
      text-align: center;
      color: $primary-color;
      margin-bottom: 30px;
    }
  
    .About-wrap {
      display: flex;
      flex-direction: column;
      margin: 45px 20px;
      gap: 20px;
    }
  }