// import des variables et mixins
@import 'variables';
@import 'mixins';

.About {
  margin: 0px 15px;
  padding: 0px;
  border-radius: 10px;

  .About-top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; // positionner le texte relativement au container

    // ajouter un calque sombreau dessus de l'image
    &::before {

      @include mobile {
        border-radius: 15px;
      }

      content: ''; // génèrer un élément avant l'image
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: $background-contrast-light; // Transparence noire
    }

  }


  // h1 {
  //   text-align: center;
  //   color: $primary-color;
  //   margin-bottom: 30px;
  // }

  .About-wrap {

    @include mobile {
      padding: 0 0px;
      margin: 30px 0px;
      gap: 30px;
    }

    display: flex;
    flex-direction: column;
    padding: 0 55px;
    margin: 45px 0px;
    gap: 35px;

    h2 {
      @include mobile {
        font-size: 1.4rem;
      }

      font-size: 1.7rem;
    }

    .Wrap-content {
      color: $fourth-color;
      font-size:1.4rem;
      p {
        @include mobile {
          font-size: 1.1rem;
        }
        margin: 0;
      }
    }


  }


}