// import des variables et mixins
@import 'variables';
@import 'mixins';

.About {
    padding: 20px;
    background-color: $third-color;
    border-radius: 10px;
  // border-color: none;
  
    h1 {
      text-align: center;
      color: $primary-color;
      margin-bottom: 30px;
    }
  
    .About-wrap {
      display: flex;
      flex-direction: column;
      margin: 45px 20px;
      gap: 20px;
    }
  }