// import des variables et mixins
@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  @include font-montserat;

@include mobile {
  // font-size: 14px;
  background-color: $third-color;
}


}

.App {
  // text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1240px;
  margin: auto;
}

.App-content {
  flex:1;
}

