// import des variables et mixins
@import 'variables';
@import 'mixins';

.Caroussel {
  position: relative;
  width: 100%;
  height: 415px;
  margin: 0px 0px 25px 0px;
  overflow: hidden;
  border-radius: 10px;

  .Caroussel-image-container {
    display: flex;
    border-radius: 5px;
    font-size: 0.9rem;
    width: 100%;

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      object-position: bottom;
      transition: opacity 0.3s ease, transform 0.3s ease; // Animation opacité et transformation
    }

    .fade {
      // border: solid red;
      opacity: 0; // masquer pendat la transition
      transform: tanslateX(50%); //déplacement à droite
    }

  }


  .Caroussel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $background-transparent;
    color: $secondary-color;
    border: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    font-size: 4rem;
    cursor: pointer;

    &:hover {
      background-color: $background-contrast;
    }

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    letter-spacing: -3px;
    color: $secondary-color;
    padding: 5px 10px;
    z-index: 1;
  }

}