// import des variables et mixins
@import 'variables';
@import 'mixins';

.Home-catalog {

    @include mobile {
      flex-direction: column;
      padding: 45px 10px 10px 10px;
      margin : 10px 0px;
    }
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $third-color;
    color: $secondary-color;
    margin : 30px 0px;
    padding: 45px 0px 35px 30px;
    border-radius: 25px;
  }