// import des variables et mixins
@import 'variables';
@import 'mixins';

.App-footer {

  @include mobile {
    margin-left: calc(-50vw + 50%);
    height: 210px;

    .Mobile-break {
      display: block;
    }
  }

  color: $secondary-color;
  background-color: $fourth-color;
  width: 100vw;
  margin-left: calc(-50vw + 49.2%);
  padding: 20px 0;
  font-size: 1.2rem;
  text-align: center;



  .Footer-logo {

    @include mobile {
      height: 12vmin;
    }

    padding-top: 50px;
    max-width: 1440px;
    margin: 0 auto;
  }

}