// import des variables et mixins
@import 'variables';
@import 'mixins';

.App-footer {
  color: $secondary-color;
  background-color: $fourth-color;
  width: 100vw;
  margin-left: calc(-50vw + 49.3%);
  padding: 20px 0;
  text-align: center;
}

.Footer-logo {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}