// import des variables et mixins
@import 'variables';
@import 'mixins';


.App-header {

    @include mobile {
      padding: 15px 15px;
      background-color: $third-color;
      align-items: center;
      font-size: 18px;
      text-transform: uppercase;
    }

    padding: 50px 15px;
    background-color: $secondary-color;
    color: $fourth-color;
    font-size: 24px;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:  space-between;

  }

  .App-logo {

    @include mobile {
      height: 12vmin;
    }

    display:flex;
    height: 10vmin;
  }
  
