.App-header {
    padding: 50px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: calc(10px + 2vmin);
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:  space-between;



  }

  .App-logo {
    display:flex;
    height: 10vmin;
    pointer-events: none;
  }
  
