// import des variables et mixins
@import 'variables';
@import 'mixins';

.Home-main {
  @include mobile {
    background-color: $third-color;
  }

  background-color: $secondary-color;
  margin: 0px 15px;

  .Home-top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; // positionner le texte relativement au container

    h1 {

      @include mobile {
        text-align: left;
        top: 0%;
        left: 0%;
        transform: translate(4%, 30%);
        font-size: 1.8rem;
        margin: 5px 10px;

        .Mobile-break {
          display:block;
        }

      }

      width: max-content;
      position: absolute; // positionner par rapport au conteneur parent
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 2.8rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px 4px $background-contrast;
    }

    // ajouter un calque sombreau dessus de l'image
    &::before {

      @include mobile {
        border-radius: 15px;
      }

      content: ''; // génèrer un élément avant l'image
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: $background-contrast; // Transparence noire
    }
    
  }
}
