// import des variables et mixins
@import 'variables';
@import 'mixins';

.Home-main {
  @include mobile {
    background-color: $third-color;
  }
  background-color: $secondary-color;
  margin: 0px 15px;

  .Home-top-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; // positionner le texte relativement au container



    h1 {

      @include mobile {
        text-align: left;
        top: 0%;
        left: 0%;
        transform: translate(5%, 0%);
        font-size: 2.1rem;
        margin: 5px 10px;
      }

      position: absolute; // positionner par rapport au conteneur parent
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px 4px $background-contrast;
    }

    // ajouter un calque sombreau dessus de l'image
    &::before {

      @include mobile {
        border-radius: 15px;
      }

      content: ''; // génèrer un élément avant l'image
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: $background-contrast; // Transparence noire
    }
    
  }
}

.Home-catalog {

  @include mobile {
    flex-direction: column;
    padding: 45px 10px 10px 10px;
    margin : 10px 0px;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $third-color;
  color: $secondary-color;
  margin : 30px 0px;
  padding: 45px 0px 35px 30px;
  border-radius: 25px;




}