.App-catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f6f6;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
  }

  
.App-main {
    background-color:rgb(255, 255, 255);
    margin: 0px 15px;
  }