// import des variables et mixins
@import 'variables';
@import 'mixins';

.Home-main {

  background-color: $secondary-color;
  margin: 0px 15px;
}

.Home-catalog {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $third-color;
  color: $secondary-color;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  border-radius: 25px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

