// import des variables et mixins
@import 'variables';
@import 'mixins';

.Place-host {
    @include mobile {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        // width: 100%; // Prend toute la largeur de l'écran
        flex: 1;
        padding: 10px; // Espacement autour des éléments
        box-sizing: border-box;
    }

    display: flex;
    flex-direction: column;

    .Host {
        @include mobile {
            flex: 1;
            margin-left: auto; // pour que le div reste à droite            
            margin-bottom: 0;
            align-items: center;
        }

        .Host-name {
            color: $primary-color;
            font-size: 1.2rem;
            max-width: 160px;
            text-align: right;
        }

        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;


    }

    .Stars-container {
        @include mobile {
            font-size: 1.1rem;
            flex: 1;
            justify-content: flex-start;
        }

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: $primary-color;
        font-size: 1.4rem;


        .Grey-Stars {
            color: $item-light-color;
        }

        p {
            @include mobile {
                margin: 0px 4px;
            }
            margin: 0px 8px;
        }
    }

}

.Host-picture {
    @include mobile {
        width: 60px;
        height: 60px;
    }
    border-radius: 50%;
    margin-left: 10px;
    width: 80px
}