// import des variables et mixins
@import 'variables';
@import 'mixins';

.Place-host {
    // border: solid green;
    display: flex;
    flex-direction: column;

    .Host {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 30px;

        span {
            color: $primary-color;
            font-size: 1.5rem;
            max-width: 100px;
            text-align: right;
        }

    }

    .Stars-container {
        // border: solid slateblue;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;        
        color: $primary-color;
        font-size: 1.4rem;


        .Grey-Stars {
            color: $item-light-color;
        }

        p { 
            margin : 0px 8px;
        }
    }

}

.Host-picture {
    border-radius: 50%;
    margin-left: 10px;
    width: 80px
}