// import des variables et mixins
@import 'variables';
@import 'mixins';


.Top-pic-banner {

    @include mobile {
        height: 111px;
        border-radius: 15px
    }

    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    // max-height: 100%;

}
