// import des variables et mixins
@import 'variables';
@import 'mixins';

.Item-card {

  @include mobile {
    width: 100%;
    height: 335px;
    margin: 0px 0px 15px 0px;
  }

  // display: flex;
  position: relative; // Utilisé pour afficher le tire en bas à gauche de la carte
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 340px;
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
  background-color: $primary-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

  }

  h2 {
    position: absolute; // positionne rle titre en bas à gauche
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    color: $secondary-color;
    background-color: $background-contrast;
    width: 100%;
    text-align: left;
    z-index: 1; // pour que le texte reste au-dessus
    // max-width: 400px;
    width: 100%
  }

}
