// import des variables et mixins
@import 'variables';
@import 'mixins';


.Nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding:0px;
    text-align: right;

    li {
        margin: 10px 20px 10px 0px;

        a {
            text-decoration: none;
            color: $fourth-color;


        }

        .Active-link {
            text-decoration: underline;
        }

    }

}