// import des variables et mixins
@import 'variables';
@import 'mixins';

.NotFound-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
        width: 40%;
        margin: 50px 0px;
    }

    span {
        margin: 0px 0px 50px 0px;
        font-weight: 600;
        font-size: 1.4rem;
        color: $primary-color;
    }

    a {
        margin: 0px 0px 50px 0px;
        font-weight: 300;
        font-size: 0.9rem;
        color: $fourth-color;
    }
}