// import des variables et mixins
@import 'variables';
@import 'mixins';

.Place {
    text-align: left;

    h1 {
        color: $primary-color;
        font-size: 2.6rem;
        font-weight: 400;
        margin: 0px 0px 10px 0px;;
    }

    span {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .Place-infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }
}

.Wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Wrap {
        width: 47%;
        margin-bottom: 35px;

        .Wrap-content {
            list-style: none;
            font-size: 1.3em;
            text-align: left;

            ul {
                list-style: none;
                padding-inline-start: 10px;
                line-height: 1.8rem;
            }
        }
    }
}