// import des variables et mixins
@import 'variables';
@import 'mixins';

.Place {
    text-align: left;

    h1 {
        color: $primary-color;
        font-size: 2.3rem;
        font-weight: 500;
        margin-bottom: 10px;;
    }

    span {
        font-weight: 400;
        font-size: 1.3rem;
    }
}

.Wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Wrap {
        width: 47%;

        .Wrap-content {
            list-style: none;
            font-size: 1.3em;
            text-align: left;
        }
    }
}