// import des variables et mixins
@import 'variables';
@import 'mixins';

.Place {
    @include mobile {
        margin: 15px;

        h1 {
            font-size: 1.6rem;
        }
    }

    text-align: left;

    h1 {
        @include mobile {
            font-size: 1.8rem;
        }

        color: $primary-color;
        font-size: 2.6rem;
        font-weight: 400;
        margin: 0px 0px 10px 0px;
        ;
    }

    span {
        @include mobile {
            font-size: 1.3rem;
            font-weight: 400;
        }

        font-weight: 500;
        font-size: 1.2rem;
    }

    .Place-infos {
        @include mobile {
            flex-wrap: wrap;


        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;

        .Host-info-container {
            @include mobile {
                display: flex;
                flex: 1;
            }
        }
    }
}

.Wrap-container {
    @include mobile {
        flex-direction: column;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Wrap {
        @include mobile {
            width: 100%;
            // margin: 0px;
        }

        width: 47%;
        margin: 0px 0px 35px 0px;

        .Wrap-content {
            @include mobile {
                font-size: 1.1rem;
                padding: 0 15px;

            }
            list-style: none;
            font-size: 1.3em;
            text-align: left;

            ul {
                @include mobile {
                    line-height: 1.6rem;
                }
                list-style: none;
                padding-inline-start: 10px;
                line-height: 1.8rem;
            }
        }
    }
}