// import des variables et mixins
@import 'variables';

.Tags-list {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-inline-start: 0px;

    .Tag-item {
        border-radius: 10px;
        padding: 0px 10px;
        margin: 10px;
        min-width: 180px;
        color: $secondary-color;
        background-color: $primary-color;
        list-style: none;

    }



}