// import des variables et mixins
@import 'variables';
@import 'mixins';

.Tags-list {
    @include mobile {
        flex-wrap: wrap;
    }
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-inline-start: 0px;

    .Tag-item {
        border-radius: 10px;
        padding: 3px 10px;
        margin: 10px 10px 10px 0px;
        min-width: 115px;
        max-width:fit-content;
        color: $secondary-color;
        background-color: $primary-color;
        list-style: none;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;

    }



}