// import des variables et mixins
@import 'variables';
@import 'mixins';


.Top-pic-banner {
    // width: 100;
    // height: height;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    // ! Opacity !
}
