// import des variables et mixins
@import 'variables';
@import 'mixins';


.Top-pic-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  min-height: 25vh;
  color: white;
  opacity: 0.6;
  background-size: cover;
  background-position: center;
}

.Pic-1 {
  background-image: $top-banner-home;
}

.Pic-2 {
  background-image: $top-banner-about;
}
