// import des variables et mixins
@import 'variables';
@import 'mixins';

.Wrap {
    // border: 1px solid #ccc;
    border-radius: 5px;
    // margin-bottom: 15px;
    overflow: hidden;
}

.Wrap-title {

  @include mobile {
    border-radius: 10px;
    padding: 8px 15px;
  }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
  
    h2 {
      @include mobile {
        font-size: 1.1rem;
      }
      font-size: 1.2rem;
      margin: 0;
      color: $secondary-color;
    }
  
    svg {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }

.Wrap-content {

    padding: 15px;
    color: $text-color;
    font-size: 1rem;
}